{% extends 'base.html' %}
{% block tatle %}
    发布
{% endblock %}
{% block style %}
{% endblock %}
{% block add %}
	<div class="w_container">
		<div class="container">
			<div class="row w_main_row">
				<ol class="breadcrumb w_breadcrumb">
				  <li><a href="/">首页</a></li>
				  <li class="active">文章</li>
				  <span class="w_navbar_tip">删删写写，回回忆忆，虽无法行云流水，却也可碎言碎语。</span>
				</ol>
			<div class="bloglist" style="margin-left: 100px">
				{% for i in order %}
				<img src='{{ i.picture }}' style="width: 360px;height: 460px">
				<div style="width: 500px">
				<p>简介：{{ i.description }}</p>
				<p>发表时间：{{ i.time }}</p>
				</div>
				{% endfor %}
		  </div>
			<div id="page">
			</div>
			</div>
		</div>
	</div>
{% endblock %}